[v-cloak] {
    display: none;
}

body,
html {
    margin: 0;
    padding: 0;
}

:root {
    --timer-ht: 28vh;
    --timer-sz: 4em;
}

@media only screen and (max-width: 600px) {
     :root {
        --timer-ht: 20px;
        --timer-sz: 3em;
    }
    .mobile-btn {
        background-color: #060606;
    }
}


/* off-mg turns of the Top and Buttom Margins */

.off-mg {
    margin-top: 0;
    margin-bottom: 0;
}


/* F-h Strech the hieight Full screen */

.f-h {
    height: 100vh;
}

.bg-ash {
    background-image: url('../img/bg-clock.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    /* background: #636363; */
}

.bg-grey {
    background: #e3e3e3;
}

.greeting {
    color: white;
}

.greeting .mn,
.greeting .ft,
.greeting .ev {
    width: 30px;
    height: 30px;
}

.output .countdown {
    position: relative;
    left: 15px;
    bottom: 15px;
    font-size: var(--timer-sz);
    font-weight: 100;
}

.output {
    position: relative;
    top: 7.5em;
}

.output .clock-img {
    width: 70px;
    height: 70px;
}

.social-link {
    position: relative;
    top: 22em;
}

.social-link img {
    width: 25px;
    height: 25px;
    margin: 0px 7px;
}

.timer-button {
    margin-top: var(--timer-ht);
    /* margin-left: 100px; */
}


/* .countdown {
    
} */


/* .stop {
    font-size: 50px !important;
} */


/* @media only screen and (min-width: 993px) {} */