.profile {
    padding-top: 5px;
    max-height: 100px;
    height: auto;
}

.profile h6 {
    line-height: 25px;
}

.date,
.time {
    display: block;
    padding: 10px;
    height: 60px;
}

.date span,
.time span {
    padding: 10px;
}

.alarm-icon i {
    font-size: 22em;
}

.timer .num {
    font-size: 5em;
    padding: 20px;
}

.timer-button {
    margin-top: 10px;
}

.nxt-btn {
    margin-top: 10px;
    /* border: 1px solid white; */
}

.countdown {
    font-size: 4.5em;
}

.tap-target-content {
    padding: 100px !important;
}

@media only screen and (max-width: 600px) {
    .tap-target-wrapper {
        display: none;
    }
}